/* General Setting */
* {
    font-family: 'Noto Sans HK', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

:root {
    --color-primary: #F6F6F6;
    --color-primary-dim: #D9D9D9;
    --color-secondary: #090909;
    --color-ascent: #e22b68;
}

a {
    text-decoration: none;
    color: var(--color-secondary);
}

div {
    display: block;
}

img {
    -webkit-user-drag: none;
    -webkit-touch-callout: none
}

.text {
    color: var(--color-secondary);
}

.large-size-text {
    font-size: 3.6rem;
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Loading Screen stuff */
.loading-screen-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

#loading-screen-wrapper {
    opacity: 1;
    transition: opacity .6s ease-in-out;
}

#loading-screen-wrapper.fade {
    opacity: 0;
}

.loading-text-wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
}

.loading-dots {
    color: var(--color-ascent);
    animation: MoveUpDown .6s linear infinite;
    position: relative;
    left: 0;
    bottom: 0;

}

.loading-dots:nth-child(2) {
    animation-delay: .2s;
}

.loading-dots:nth-child(3) {
    animation-delay: .4s;
}

@keyframes MoveUpDown {

    0%,
    100% {
        bottom: 0;
    }

    50% {
        bottom: .9rem;
    }
}

.animate-bottom {
    position: relative;
    animation-name: animatebottom;
    animation-duration: .6s;
}

@keyframes animatebottom {
    from {
        bottom: -6em;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

/* Main Page Stuff */
#main-page-wrapper {
    display: none;
}

.main-page-wrapper {
    height: 100%;
    width: 100%;
    grid-auto-flow: row;
    grid-template-rows: 1fr 5fr 1fr;
}

/* Nav Bar Stuff */
.nav-bar-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-primary-dim);
    min-height: 64px;
}

.left-nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 9px;
    margin-top: -12px;
    position: relative;
    text-decoration: none;
}

.left-nav-wrapper::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -12px;
    height: 5px;
    width: 0;
    background-color: var(--color-ascent);
    border-radius: 3px;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.left-nav-wrapper:hover::before {
    width: 100%;
    transform: translateX(-50%) scaleX(1);
}

.logo {
    margin-top: 6px;
    width: 48px;
    height: 48px;
}

.logo-text {
    font-weight: bold;
    font-size: 2.25em;
}

.right-nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 15px;
}

.icon-link-wrapper {
    position: relative;
    opacity: 1;
    transition: opacity .24s ease;
}

.icon {
    height: 24px;
    width: 24px;
}

.icon-link-wrapper:hover {
    opacity: .45;
}

.icon-link-wrapper:active {
    opacity: 1;
}

#themes.swap {
    position: relative;
    animation: up-fast .300s linear;
}

@keyframes up-fast {

    0%,
    100% {
        bottom: 0;
        opacity: .45
    }

    50% {
        bottom: .6rem;
        opacity: 0
    }
}

/*.icon-wrapper::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -6px;
    height: 4px;
    width: 0;
    background-color: var(--color-ascent);
    border-radius: 3px;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.icon-wrapper:hover::before {
    width: 100%;
    transform: translateX(-50%) scaleX(1);
}*/


/* Center of Main Page stuff */
.center-cotent-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-content-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.typing-area-wrapper {
    font-size: 1.8em;
    height: 140px;
    overflow: hidden;
    padding: 0 32px 0 32px;
    width: 70%;
}

.line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
}

.characters-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.character-pronouciation {
    font-size: .6em;
    margin-bottom: -2px;
}

.restart-button-wrapper {
    position: relative;
}

.restart-button-wrapper::after {
    content: 'Restart test';
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) scaleY(0);
    opacity: 0;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-radius: 6px;
    margin-top: 10px;
    width: 90px;
    transition: opacity .24s ease, transform .24s ease;
}

.restart-button-wrapper:hover::after {
    opacity: 1;
    transform: translateX(-50%) scaleY(1)
}

.restart-test-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    padding: 0;
    cursor: pointer;
    position: relative;
    height: 45px;
    width: 90px;
    border: none;
    border-radius: 6px;
    transition: background-color .24s ease;
}

.restart-test-button img {
    display: block;
    opacity: .45;
    transition: opacity .24s ease;
}

.restart-test-button:hover, .restart-test-button.selected {
    background-color: var(--color-primary-dim);
}

.restart-test-button:hover img, .restart-test-button.selected img{
    opacity: 1;
}

.restart-test-button:active img, .restart-test-button:active.selected img  {
    opacity: .45;
}

.keybind-area-wrapper {
    text-align: center;
}

key {
    text-align: center;
    background-color: var(--color-primary-dim);
    border: none;
    border-radius: 3px;
    padding: 0 6px 0 6px;
}

/* Footer stuff */
.footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-primary-dim);
    min-height: 64px;
}

.left-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: fit-content;
}

.right-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: fit-content;
}

.footer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
}

.footer-icon-text {
    font-size: 1em;
}

/*Tablet size or smaller laptop */
@media screen and (max-width: 1200px) {
    .nav-bar-wrapper {
        gap: 27rem;
    }

    .footer-wrapper {
        gap: 15rem;
    }
}

/*Mobile size or smaller display */
@media screen and (max-width: 900px) {
    .logo-text {
        display: none;
    }

    .nav-bar-wrapper {
        gap: 10rem;
    }

    .footer-wrapper {
        gap: 2.4rem;
    }

    .footer-icon-text {
        display: none;
    }
}