* {
    font-family: 'Noto Sans HK', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

:root {
    --color-primary: #F6F6F6;
    --color-secondary: #090909;
    --color-ascent: #e22b68;
}

.text {
    color: var(--color-secondary);
}

.large-size-text {
    font-size: 9rem;
}

.loading-screen-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.loading-text-wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
}

.loading-dots {
    color: var(--color-ascent);
    animation: MoveUpDown .6s linear infinite;
    position: relative;
    left: 0;
    bottom: 0;
}

.loading-dots:nth-child(2) {
    animation-delay: .2s;
}

.loading-dots:nth-child(3) {
    animation-delay: .4s;
}

@keyframes MoveUpDown {

    0%,
    100% {
        bottom: 0;
    }

    50% {
        bottom: 1rem;
    }
}