* {
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

:root {
    --color-primary: #F6F6F6;
    --color-primary-dim: #D9D9D9;
    --color-secondary: #090909;
    --color-ascent: #e22b68;
}

div {
    display: block;
}

.text {
    color: var(--color-secondary);
}

.large-size-text {
    font-size: 4.5rem;
}

.loading-screen-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

#loading-screen-wrapper {
    opacity: 1;
    transition: opacity .6s ease-in-out;
}

#loading-screen-wrapper.fade {
    opacity: 0;
}

.loading-text-wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
}

.loading-dots {
    color: var(--color-ascent);
    animation: MoveUpDown .6s linear infinite;
    position: relative;
    left: 0;
    bottom: 0;

}

.loading-dots:nth-child(2) {
    animation-delay: .2s;
}

.loading-dots:nth-child(3) {
    animation-delay: .4s;
}


@keyframes MoveUpDown {

    0%,
    100% {
        bottom: 0;
    }

    50% {
        bottom: .9rem;
    }
}

.animate-bottom {
    position: relative;
    animation-name: animatebottom;
    animation-duration: .6s;
}

@keyframes animatebottom {
    from {
        bottom: -6em;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main-page-wrapper {
    display: none;
}

.main-page-wrapper {
    height: 100%;
    width: 100%;
    grid-auto-flow: row;
    grid-template-rows: 1fr 72% 1fr;
}

.nav-bar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-dim);
    gap: 45rem;
}

/*Tablet size or smaller laptop */
@media screen and (max-width: 1200px) {
    .nav-bar-wrapper {
        gap: 30rem;
    }
}

/*Mobile size or smaller display */
@media screen and (max-width: 900px) {
    .nav-bar-wrapper {
        gap: 3.6rem;
    }
}

/*.nav-bar-wrapper>* {
    padding: 32px;
}*/

@keyframes hoverSlide {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.left-nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 9px;
    margin-top: -16px;
    position: relative;
}

.left-nav-wrapper:hover {
    cursor: pointer;
}

.left-nav-wrapper::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 5px;
    width: 0;
    background-color: var(--color-ascent);
    border-radius: 3px;
    transition: width 0.3s ease-in-out;
}

.left-nav-wrapper:hover::after {
    width: 100%;
}

.logo {
    width: 48px;
    height: 48px;
}

.logo-text {
    font-weight: 500;
    font-size: 32px;
}

.right-nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 15px;
}

.icon {
    height: 24px;
    width: 24px;
}

.center-cotent-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-dim);
}