/* General Setting */
* {
    font-family: 'Noto Sans HK', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

:root {
    --color-primary: #F6F6F6;
    --color-primary-dim: #D9D9D9;
    --color-secondary: #090909;
    --color-ascent: #e22b68;
    --color-ascent-compliment: #2b68e2;
}

a {
    text-decoration: none;
    color: var(--color-secondary);
    cursor: pointer;
}

div {
    display: block;
}

img {
    -webkit-user-drag: none;
    -webkit-touch-callout: none
}

.text {
    color: var(--color-secondary);
}

.large-size-text {
    font-size: 3.6rem;
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Loading Screen stuff */
.loading-screen-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

#loading-screen-wrapper {
    opacity: 1;
    transition: opacity .6s ease-in-out;
}

#loading-screen-wrapper.fade {
    opacity: 0;
}

.loading-text-wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
}

.loading-dots {
    color: var(--color-ascent);
    animation: MoveUpDown .6s linear infinite;
    position: relative;
    left: 0;
    bottom: 0;

}

.loading-dots:nth-child(2) {
    animation-delay: .2s;
}

.loading-dots:nth-child(3) {
    animation-delay: .4s;
}

@keyframes MoveUpDown {

    0%,
    100% {
        bottom: 0;
    }

    50% {
        bottom: .9rem;
    }
}

.animate-bottom {
    position: relative;
    animation-name: animatebottom;
    animation-duration: .6s;
}

@keyframes animatebottom {
    from {
        bottom: -6em;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

/* Main Page Stuff */
#main-page-wrapper {
    display: none;
}

.main-page-wrapper {
    height: 100%;
    width: 100%;
    grid-auto-flow: row;
    grid-template-rows: 1fr 5fr 1fr;
}

/* Nav Bar Stuff */
.nav-bar-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-primary-dim);
    min-height: 64px;
}

.left-nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 9px;
    margin-top: -12px;
    position: relative;
    text-decoration: none;
}

.left-nav-wrapper::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -12px;
    height: 5px;
    width: 0;
    background-color: var(--color-ascent);
    border-radius: 3px;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.left-nav-wrapper:hover::before {
    width: 100%;
    transform: translateX(-50%) scaleX(1);
}

.logo {
    margin-top: 6px;
    width: 48px;
    height: 48px;
}

.logo-text {
    font-weight: bold;
    font-size: 2.25em;
}

.right-nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 15px;
}

.icon-link-wrapper {
    position: relative;
    height: min-content;
    opacity: 1;
    transition: opacity .24s ease;
}

.icon {
    height: 24px;
    width: 24px;
    filter: invert(0%) sepia(29%) saturate(5165%) hue-rotate(107deg) brightness(86%) contrast(93%);
}

.icon-link-wrapper:hover {
    opacity: .45;
}

.icon-link-wrapper:active {
    opacity: 1;
}

#themes.swap {
    position: relative;
    animation: up-fast .300s linear;
}

@keyframes up-fast {

    0%,
    100% {
        bottom: 0;
        opacity: .45
    }

    50% {
        bottom: .6rem;
        opacity: 0
    }
}

/* Center of Main Page stuff */
.center-cotent-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-content-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    min-width: 660px;
}

.options-bar-wrapper {
    background-color: var(--color-primary-dim);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    gap: 1rem;
    border-radius: 6px;
    padding: 0 16px 0 16px;
    height: max-content;
    opacity: 1;
    transition: opacity .24s ease;
}

.options-flex-wrapper .icon-link-wrapper {
    height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .1rem;
    color: var(--color-secondary);
    opacity: .5;
    transition: opacity .24s ease, color .24s ease, filter .24s ease;
}

.options-flex-wrapper .icon-link-wrapper:hover,
.options-flex-wrapper .icon-link-wrapper.selected:hover {
    opacity: 1;
}

.options-flex-wrapper .icon-link-wrapper:active,
.options-flex-wrapper .icon-link-wrapper.selected:active {
    opacity: .5;
}

.options-flex-wrapper .icon-link-wrapper.selected {
    color: var(--color-ascent);
    opacity: 1;
}

.options-flex-wrapper .icon-link-wrapper.selected .icon {
    filter: invert(39%) sepia(81%) saturate(5594%) hue-rotate(323deg) brightness(91%) contrast(94%);
}

.options-flex-wrapper .icon {
    width: 1.25rem;
    height: 1.25rem;
}

.line-divider {
    background-color: var(--color-secondary);
    border-radius: 3px;
    height: 1.25rem;
    width: .25rem;
    margin: .5rem 0;
    transition: .25s;
    opacity: .5;
}

.options-flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.difficulties-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
}

#words-options {
    display: none;
}

.duration-counter {
    font-size: 1.25rem;
    opacity: 1;
    padding: 3px;
    transition: opacity .24s ease;
}

.full-typing-area-wrapper {
    font-size: 1.8em;
    height: 175px;
    overflow: hidden;
    padding: 0 64px 0 64px;
    position: relative;
    max-width: 1000px;
}

.center-content-items:focus {
    outline: none;
}

.center-content-items:focus #line {
    filter: blur(0px);
}

.center-content-items:focus #focus-wrapper {
    display: none;
}

.main-typing-area-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    filter: blur(3px);
    transition: opacity .1s ease;
}

.line .characters-wrapper {
    opacity: .5;
}

.focus-wrapper {
    position: absolute;
    font-size: 3rem;
    color: var(--color-secondary);
    padding-top: 36px;
    z-index: 1;
}

@keyframes blick {

    0%,
    100% {
        border-color: var(--color-ascent);
    }

    50% {
        border-color: var(--color-primary);
    }
}

.current>.character {
    animation: blick .6s infinite;
    transition: border .1s ease;
}

.center-content-items:focus .current>.character {
    border-left: 2px solid;
}

.characters-wrapper.correct {
    opacity: 1;
    color: var(--color-secondary);
}

.characters-wrapper.incorrect {
    opacity: 1;
    color: var(--color-ascent);
}

.characters-wrapper.incorrect>.character {
    text-decoration: underline;
}

.characters-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 32px;
}

.character-pronouciation {
    font-size: .6em;
    margin-bottom: -2px;
    min-height: 25px;
}

.restart-test-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    padding: 0;
    cursor: pointer;
    position: relative;
    height: 45px;
    width: 90px;
    border: none;
    outline: none;
    border-radius: 6px;
    transition: background-color .24s ease;
}

.restart-test-button::after {
    content: 'Restart Test';
    text-align: center;
    position: absolute;
    top: 100%;
    transform: translateY(-50%) scaleY(0);
    opacity: 0;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-radius: 6px;
    margin-top: 10px;
    width: 90px;
    min-height: min-content;
    transition: opacity .24s ease, transform .24s ease;
}

.restart-test-button:focus::after,
.restart-test-button:hover::after {
    opacity: 1;
    transform: translateY(-25%) scaleY(1);
}

.restart-test-button img {
    display: block;
    opacity: .45;
    transition: opacity .24s ease;
}

.restart-test-button:hover,
.restart-test-button:focus {
    background-color: var(--color-primary-dim);
}

.restart-test-button:hover img,
.restart-test-button:focus img {
    opacity: 1;
}

.restart-test-button:active img {
    opacity: .45;
}

.keybind-area-wrapper {
    text-align: center;
}

key {
    text-align: center;
    background-color: var(--color-primary-dim);
    border: none;
    border-radius: 3px;
    padding: 0 6px 0 6px;
}

/* Footer stuff */
.footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-primary-dim);
    min-height: 64px;
}

.left-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: fit-content;
}

.right-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: fit-content;
}

.footer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
}

.footer-icon-text {
    font-size: 1em;
}

/*Ultra wide monitor*/
@media screen and (min-width: 1920px) {
    .full-typing-area-wrapper {
        min-width: 800px;
    }
}

/*Tablet size or smaller laptop */
@media screen and (max-width: 1200px) {
    .center-content-items {
        min-width: 450px;
    }

    .options-bar-wrapper {
        font-size: .9rem;
        gap: .9rem;
    }

    .options-bar-wrapper .line-divider {
        height: 1.25rem;
        width: .25rem;
    }

    .options-flex-wrapper .icon {
        width: 1.25rem;
        height: 1.25rem;
    }
}

/*Mobile size or smaller display */
@media screen and (max-width: 900px) {
    .center-content-items {
        min-width: none;
    }

    .options-bar-wrapper {
        flex-direction: column;
        padding: 0 48px 0 48px;
    }

    .options-bar-wrapper .line-divider {
        display: none;
    }

    .options-flex-wrapper .icon {
        width: 1.25rem;
        height: 1.25rem;
    }

    .logo-text {
        display: none;
    }

    .footer-icon-text {
        display: none;
    }

    .keybind-area-wrapper {
        display: none;
    }

    .focus-wrapper {
        font-size: 2rem;
    }
}