* {
    font-family: 'Noto Sans HK', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

:root {
    --color-primary: #F6F6F6;
    --color-primary-dim: #D9D9D9;
    --color-secondary: #090909;
    --color-ascent: #e22b68;
}

div {
    display: block;
}

.text {
    color: var(--color-secondary);
}

.large-size-text {
    font-size: 4.5rem;
}

.loading-screen-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

#loading-screen-wrapper {
    opacity: 1;
    transition: opacity .6s ease-in-out;
}

#loading-screen-wrapper.fade {
    opacity: 0;
}

.loading-text-wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
}

.loading-dots {
    color: var(--color-ascent);
    animation: MoveUpDown .6s linear infinite;
    position: relative;
    left: 0;
    bottom: 0;

}

.loading-dots:nth-child(2) {
    animation-delay: .2s;
}

.loading-dots:nth-child(3) {
    animation-delay: .4s;
}


@keyframes MoveUpDown {

    0%,
    100% {
        bottom: 0;
    }

    50% {
        bottom: .9rem;
    }
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-page-wrapper {
    display: grid; 
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr 75% 1fr;
}

.nav-bar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-dim);
}

.center-cotent-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-dim);
}